<!--HEADER-->
<%- include("partials/header.ejs") %>

    <!-- TABLE TO SHOW ALL ORDERS -->
<div class="container">
    <div class="table-responsive">
    <table class="table" style="margin-top: 20px;">
      <thead>
        <tr class="table-light">
          <th>Customer Name</th>
          <th>Job Category</th>
          <th>Job Type</th>
          <th>No of Professionals</th>
          <th>Amount</th>
        </tr>
      </thead>
      <tbody> 
       <%  for (let order of foundUser.orders) { 
        if (order.jobCategory == "Deep Cleaning") {
                var cost=500;
                var no=0;
                no=order.professionals;
                var amount=0;
                amount=cost*no;
                if (order.jobType == "Part time 8am to 2pm" || order.jobType == "Part time 10am to 6pm") {
                    var amt=amount;
                    amt*=0.7;
                    amount=Math.floor(amt);
                }
            }
            else if (order.jobCategory == "Pest Control") {
                var cost=1000;
                var no=0;
                no=order.professionals;
                var amount=0;
                amount=cost*no;
                if (order.jobType == "Part time 8am to 2pm" || order.jobType == "Part time 10am to 6pm") {
                    var amt=amount;
                    amt*=0.7;
                    amount=Math.floor(amt);
                }
            }
            else if (order.jobCategory == "Sofa Cleaning") {
                var cost=200;
                var no=0;
                no=order.professionals;
                var amount=0;
                amount=cost*no;
                if (order.jobType == "Part time 8am to 2pm" || order.jobType == "Part time 10am to 6pm") {
                    var amt=amount;
                    amt*=0.7;
                    amount=Math.floor(amt);
                }
            }
            else if (order.jobCategory == "Mattress Cleaning") {
                var cost=200;
                var no=0;
                no=order.professionals;
                var amount=0;
                amount=cost*no;
                if (order.jobType == "Part time 8am to 2pm" || order.jobType == "Part time 10am to 6pm") {
                    var amt=amount;
                    amt*=0.7;
                    amount=Math.floor(amt);
                }
            }
            else if (order.jobCategory == "Car Wash") {
                var cost=200;
                var no=0;
                no=order.professionals;
                var amount=0;
                amount=cost*no;
                if (order.jobType == "Part time 8am to 2pm" || order.jobType == "Part time 10am to 6pm") {
                    var amt=amount;
                    amt*=0.7;
                    amount=Math.floor(amt);
                }
            }
            else if (order.jobCategory == "AC Cleaning") {
                var cost=800;
                var no=0;
                no=order.professionals;
                var amount=0;
                amount=cost*no;
                if (order.jobType == "Part time 8am to 2pm" || order.jobType == "Part time 10am to 6pm") {
                    var amt=amount;
                    amt*=0.7;
                    amount=Math.floor(amt);
                }
            }
            else if (order.jobCategory == "bouncer") {
                var cost=2000;
                var no=0;
                no=order.professionals;
                var amount=0;
                amount=cost*no;
                if (order.jobType == "Part time 8am to 2pm" || order.jobType == "Part time 10am to 6pm") {
                    var amt=amount;
                    amt*=0.7;
                    amount=Math.floor(amt);
                }
            }
          %>   
        <tr>
          <td class="table-light"><%= order.name %></td>
          <td class="table-light"><%= order.jobCategory %></td>
          <td class="table-light"><%= order.jobType %></td>
          <td class="table-light"><%= order.professionals %></td>
          <td class="table-light"><%= amount %></td>
        </tr>
        <%  }%>
      </tbody>
    </table>
    </div>
  </div>
  

<!--FOOTER-->
<%- include("partials/footer.ejs") %>