<!--HEADER-->
<%- include("partials/header.ejs") %>

<!--CONTENT-->
<div class="container mt-5 border border-warning">
    <div class="p-4">
        <!--USER PROFILE PICTURE AND NAME-->
        <div class="d-flex justify-content-center">
            <div class="text-center card" style="width: 18rem;">
                <img src="/images/user profile picture.jpg" class="card-img-top" alt="user profile picture">
                <div class="card-body">
                    <p class="card-text"><%= foundStaff.name %> </p>
                </div>
            </div>
        </div>
        
        <!--USER INFORMATION-->
        <div class="border border-warning my-3 text-center">
            <h5>Skills</h5>
            <p><%= foundStaff.skills %></p>
            <h5>Gender</h5>
            <p><%= foundStaff.gender %></p>
            <h5>Phone</h5>
            <p><%= foundStaff.phone %></p>
            <h5>Address</h5>
            <p><%= foundStaff.address %></p>
            <a href="/admin/staff/<%= foundStaff._id%>/edit" class="my-1 btn btn-block btn-warning">Edit Profile</a>
            <form action="/admin/staff/<%=foundStaff._id%>?_method=DELETE" method="POST">
                <button class="my-2 btn btn-block btn-danger">Delete</button>
            </form>
        </div>
    </div>
</div>


<!--FOOTER-->
<%- include("partials/footer.ejs") %>